*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: linear-gradient(to right, #545454, #1f1f1f);
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 60px 5%;
}
.logo{
    font-size: 2rem;
    font-weight: bolder;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    position: sticky;
     top: 0;
    z-index: 1000;

}
.navbar ul{
    display: flex;
    list-style:none;
    gap: 2rem;
}
.navbar a{    
    text-decoration: none;
    color: rgb(249, 249, 245);
    transition: 0.3s;
    font-weight: bold;
}
.navbar a:hover{
    color: aqua;
}
.navbar a.cta{
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: white;
    display: inline-block;
    transition: 0.3s;
  
}
.navbar a.cta:hover{
    background-color: rgb(251, 222, 56);
    color:black;
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff;

}
.heading{
    text-align: center;
    margin-top: 35px;
}
.para{
    text-align: center;
    margin-top: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}
.buttons a{
    text-decoration: none;
}
.btn{
    background-color: white;
    color: black;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover{
   
    background-color: rgb(209, 156, 59);
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff;

}
.hero{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 3rem 5%;
}
.hero-content{
    width: 50%;
}
.hero-img{
    width: 50%;
}
.hero-img img{
    width: 100%;
}
 section h1{
    text-align: center;
    margin-top: 5rem;
    text-shadow: 0px 1px 2px white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2.8rem;
 
}
.service-card{
    max-width: 250px;
    padding: 1rem;
    background-color:  rgba(134, 94, 77, 0.389);
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgb(177, 225, 223);
    text-align: center;
     transition: 0.3s;

}
.service-card:hover{
    transform: translateY(-5px);
         box-shadow: 0 0 10px #fff;

}
 section h2{
    color: rgb(213, 109, 71);
    text-shadow: 0px 1px 1px gold;
}
p{
    margin: 0.5rem auto;
    text-align: center;
}

#about{
    margin-top: 5rem;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form input{
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 0.4rem auto;
}
#contact{
    margin-top: 5rem;
}
.fo{
  text-align: center;
  margin-top: 3rem;
  background-color: #1f1f1f;
  
}
.fot{
    font-size: 1rem;
}

@media (max-width: 768px){
    .hero{
        flex-direction: column;
        gap: 1rem;
    }
   .hero-img img{
        max-width: 100%;
        height: auto;
    }
    .hero-content{
        width: 100%;
    }
   .cta{
    margin-left: 19px;
   }
   .para{
   margin: 1rem auto;
  }
    .navbar ul{
        flex-direction:column;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }
      .container{
        flex-direction: column;
        align-items: center;
    }

    .service-card{
        max-width:90%;
        padding: 1rem;
    }
    
}